<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="X-UA-Compatible" content="ie=edge">
        {% seo title=false %}

        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <div id="starting">
          {{ content }}
        </div>

        <!-- IMPORTAR O VUE -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <!-- <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    </body>
</html>
